.container {
  padding: 60px 0;
}

/* sidebar */
ul.list-unstyled li a {
  transition: all 0.3s ease;
}
ul.list-unstyled li a:hover{
  color: var(--brandColor) !important;
  border-color: var(--brandColor) !important;
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .header-section h1 {
    font-size: 2.5rem;
  }

  .category-tabs {
    justify-content: center;
  }

  .medical-card img {
    height: 200px;
  }
}
